<% include partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="butterfly">
        <img src="/images/butterfly.svg" alt="butterfly">
      </div>
      <div id="trapezoid" class="drag bigEntrance"></div><br>
      <div id="square" class="drag bigEntrance"></div><br>
      <div id="hexagon" class="drag bigEntrance"></div><br>
      <div id="diamond" class="drag bigEntrance"></div><br>
      <div id="triangle" class="drag bigEntrance"></div><br>
      <div id="trapezoid" class="drag bigEntrance"></div><br>
      <div id="parallelogram" class="drag bigEntrance"></div>
    </div>
  </div>
</div>

<% include partials/footer %>